.container {
    margin-top: 50px;
}

.heading{
    font-size: 3em;
}

body {
    background-image: url('https://media.licdn.com/dms/image/D5612AQFlxMRpK-On8g/article-cover_image-shrink_720_1280/0/1670602482212?e=2147483647&v=beta&t=1HWOX81_1_mfqzP2kdHty9dnCVgb-dmVsMuYhBKCnRQ');
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
}